<div class="container">

      <div class="blog-header">
        <h1 class="blog-title">The Bootstrap Blog</h1>
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <% @posts.each do |post| %>
            <div class="blog-post">
              <h2 class="blog-post-title"><%= post.title %></h2>
              <p class="blog-post-meta"><%= format_date(post.created_at) %> </p>

              <%= markdown(post.content) %>
            </div>
            <% end %>
            <%= paginate @posts %>

        </div>
      </div>
</div>
