   <div class="container">

        <div class="row">
             <div class="col-lg-8">
                 <h1><%= @post.title %></h1>
                 <p>
                   <% @post.tags.each do |tag| %>
                     <span class="badge"><%= tag.title %></span>
                   <% end %>
                 </p>
                 <p><span class="glyphicon glyphicon-time"></span> Posted on <%= format_date(@post.created_at) %></p>

                 <hr>

                 <p>
                    <%= MyMarkdown.to_md(@post.content) %>
                </p>

                <hr>

                <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

            </div>

        </div>
</div>
