<div class="comment-diag">
  <% @post.comments.each do |comment| %>
  <div class="comment-wrapper">
    <%= comment.name %> <small> <%= format_time(comment.created_at) %></small>
  </div>
  <div class="comment-content">
    <%= comment.content %>
  </div>
  <% end %>
</div>
