<div class="container">
  <h2>Hover Rows</h2>
  <p>The .table-hover class enables a hover state on table rows:</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
         <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
         <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
         <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
         <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>
