<div class="container">
  <h2>Blog stats</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>INFO</th>
         <th>STATES</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Post</td>
         <td><%= @posts_count %></td>
      </tr>
      <tr>
        <td>Mary</td>
         <!-- <td><%= @visited_count %></td> -->
      </tr>
      <tr>
        <td>Comment</td>
         <td><%= @comments_count %></td>
      </tr>
    </tbody>
  </table>
</div>
