<div class="container">
  <h2>Blog stats</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>INFO</th>
         <th>STATES</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
         <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
         <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
         <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>
